<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Contracts" version="1.0.3" targetFramework="net48" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net48" />
  <package id="Fody" version="6.2.6" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net48" />
  <package id="RegistryTools" version="1.0.0" targetFramework="net48" />
  <package id="SchedulerTools" version="1.0.3" targetFramework="net48" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net48" developmentDependency="true" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net48" />
  <package id="TaskbarIconHost" version="1.0.0" targetFramework="net48" />
  <package id="TaskbarTools" version="1.1.0" targetFramework="net48" />
  <package id="TaskScheduler" version="2.8.21" targetFramework="net48" />
  <package id="Tracing" version="2.2.19302.1" targetFramework="net48" />
</packages>