[*.cs]

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1116: Split parameters should start on line after declaration
dotnet_diagnostic.SA1116.severity = silent

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = none

# SA1203: Constants should appear before fields
dotnet_diagnostic.SA1203.severity = none

# SA1204: Static elements should appear before instance elements
dotnet_diagnostic.SA1204.severity = none

# SA1214: Readonly fields should appear before non-readonly fields
dotnet_diagnostic.SA1214.severity = silent

# SA1306: Field names should begin with lower-case letter
dotnet_diagnostic.SA1306.severity = silent

# SA1312: Variable names should begin with lower-case letter
dotnet_diagnostic.SA1312.severity = silent

# SA1405: Debug.Assert should provide message text
dotnet_diagnostic.SA1405.severity = silent

# SA1502: Element should not be on a single line
dotnet_diagnostic.SA1502.severity = silent

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = silent

# SA1504: All accessors should be single-line or multi-line
dotnet_diagnostic.SA1504.severity = silent

# SA1514: Element documentation header should be preceded by blank line
dotnet_diagnostic.SA1514.severity = silent

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = silent

# SA1519: Braces should not be omitted from multi-line child statement
dotnet_diagnostic.SA1519.severity = silent

# SA1520: Use braces consistently
dotnet_diagnostic.SA1520.severity = silent

# SA1615: Element return value should be documented
dotnet_diagnostic.SA1615.severity = silent

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = silent
