<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github" value="https://nuget.pkg.github.com/dlebansais/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="dlebansais" />
            <!-- Read-only access -->
            <add key="ClearTextPassword" value="&#53;&#48;&#56;&#49;&#48;&#51;&#102;&#56;&#54;&#101;&#56;&#51;&#51;&#53;&#48;&#97;&#54;&#57;&#97;&#57;&#100;&#101;&#99;&#100;&#101;&#98;&#53;&#97;&#97;&#102;&#102;&#53;&#98;&#49;&#49;&#99;&#50;&#51;&#48;&#54;" />
        </github>
    </packageSourceCredentials>
</configuration>